@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Noto+Nastaliq+Urdu:wght@700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

/* Variable */
$main_dark: #6770c0;
$main_normal: #ccd1ff;
$main_light: #f0f3ff;
$color_white: #ffffff;
$color_orange_dark: #ffb966;
$color_orange: #ffedd7;
$color_red_dark: #ea929a;
$color_red: #ffd7db;
$color_green_dark: #4feba2;
$color_green: #d1fbe9;
/* Variable */

/* Html tag */
body {
  background-color: $main_light;
}

nav {
  position: fixed;
  top: 60%;
  left: 95%;

  & svg {
    width: 24px;
    height: 24px;
    color: $main_dark;
  }
}

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 0px;
}

button {
  all: unset;
}

form {
  width: 100%;
}

img {
  border-radius: 15px;
}
/* Html tag */

/* common */
.w-60 {
  width: 60%;
}

.w-50 {
  width: 50%;
}

.doughnut-container {
  position: relative;
  padding: 20px;

  & canvas {
    height: 250px !important;
    width: 250px !important;
  }
}

.bar-container {
  padding: 20px;
}

.col-2 {
  padding: 0px;
}

.col-8 {
  padding: 0px;
}

.button {
  background-color: $main_normal !important;
  color: $main_dark !important;
  border-radius: 15px !important;
  font-size: 18px !important;
  font-weight: bold;
}

.MuiInputBase-input {
  height: 1.5rem;
}

.table {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: #6a5d5d;

  & p {
    padding: 0.7rem;
  }

  & .table-item-cases:nth-of-type(odd) {
    border-radius: 5px;
    background-color: $color_orange;
  }

  & .table-item-deaths:nth-of-type(odd) {
    border-radius: 5px;
    background-color: $color_red;
  }

  & .table-item-recovered:nth-of-type(odd) {
    border-radius: 5px;
    background-color: $color_green;
  }
}

.color-main {
  color: $main_dark;
}

.color-orange {
  color: $color_orange_dark;
}

.color-red {
  color: $color_red_dark;
}

.color-green {
  color: $color_green_dark;
}

.shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

hr.rounded {
  border-top: 5px solid #bbb;
  border-radius: 5px;
}
/* common */

/* Homepage */
.homepage-container {
  width: 85%;
  margin: 0 auto;
}
/* Homepage */

/* Navigation */
.nav-item-active {
  border-radius: 30px;
  background-color: $main_normal;
}

.nav-item-active svg {
  color: $main_dark;
}
/* Navigation */

/* Worldwide */
.worldwide-card {
  width: 100%;
  background-color: $color_white;
  min-height: 180px;
  border-radius: 15px;
  padding: 20px 30px;
}

.worldwide-card.active {
  border-top: 6px solid $main_normal;
}
/* Worldwide */

/* Continent */
.continent-container {
}
.continent-card {
  background-color: $color_white;
  height: 100%;
  border-radius: 15px;
}
/* Continent */

/* Country */
.country-container {
}

.country-card {
  background-color: $color_white;
  height: 100%;
  border-radius: 15px;
}

.map {
  height: 800px;
  border-radius: 20px;
  // box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container {
  height: 100%;
}

.info-flag img {
  width: 150px !important;
  border-radius: 5px;
}

.info-name {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #555;
}

.info-flag {
  height: 100px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}

.info-confirmed {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.info-container {
  width: 150px;
}

.leaflet-popup-content p {
  margin: 6px 0px !important;
}
/* Country */
