@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Noto+Nastaliq+Urdu:wght@700&display=swap');body {
  font-family: 'Montserrat', sans-serif;
}

/* Variable */
$main_dark: #6770C0;
$main_normal: #ccd1ff;
$main_light: #F0F3FF;
$color_white: #FFFFFF;
$color_orange: #ffedd7;
$color_red: #ffd7db;
$color_green: #e2fff2;
/* Variable */

/* Html tag */
body {
  background-color: $main_light;
}

nav {
  position: fixed;
  top: 60%;
  left: 95%;

  & svg {
    width: 24px;
    height: 24px;
    color: $main_dark;
  }
}

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 0px;
}

button {
  all: unset;
}

.table {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: #6a5d5d;
  
  & p {
    padding: 0.7rem;
  }
  
  & .table-item-cases:nth-of-type(odd) {
    border-radius: 5px;
    background-color: $color_orange;
  }

  & .table-item-deaths:nth-of-type(odd) {
    border-radius: 5px;
    background-color: $color_red;
  }

  & .table-item-recovered:nth-of-type(odd) {
    border-radius: 5px;
    background-color: $color_green;
  }
}

/* Html tag */

/* common */
.doughnut-container {
  position: relative;
  padding: 20px;

  & canvas {
    height: 250px !important;
    width: 250px !important;
  }
}

.bar-container {
  padding: 20px;
}

.col-2 {
  padding: 0px;
}

.col-8 {
  padding: 0px;
}
/* common */

/* Homepage */
.homepage-container {
  width: 85%;
  margin: 0 auto;
}
/* Homepage */

/* Navigation */
.nav-item-active {
  border-radius: 30px;
  background-color: $main_normal;
}

.nav-item-active svg {
  color: $main_dark;
}
/* Navigation */

/* Worldwide */
.worldwide-card {
  width: 100%;
  background-color: $color_white;
  min-height: 180px;
  border-radius: 15px;
  padding: 20px 30px;
}
/* Worldwide */

/* Continent */
.continent-container {
  .row {
    max-height: 600px;
  }
  .col-3 {
    max-height: 600px;
  }
  .col-6 {
    max-height: 600px;
  }
}
.continent-card {
  background-color: $color_white;
  height: 100%;
  border-radius: 15px;
}
/* Continent */

/* Country */
.country-container {
  .row {
    max-height: 800px;
  }
  .col-4 {
    max-height: 800px;
  }
  .col-8 {
    max-height: 800px;
  }
}

.map {
  height: 800px;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  // box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container {
  height: 100%;
}
/* Country */
