@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&family=Noto+Nastaliq+Urdu:wght@700&display=swap');body {
  font-family: 'Montserrat', sans-serif;
}

/* Variable */
$main_dark: #6770C0;
$main_normal: #A2A8DC;
$main_light: #F0F3FF;
$color_white: #FFFFFF;
/* Variable */

/* Html tag */
body {
  background-color: $main_light;
}

nav {
  position: fixed;
  top: 60%;
  left: 95%;

  & svg {
    width: 24px;
    height: 24px;
    color: $main_dark;
  }
}

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 0px;
}
/* Html tag */

/* common */
.doughnut-container {
  position: relative;
  padding: 20px;

  & canvas {
    height: 250px !important;
    width: 250px !important;
  }
}

.bar-container {
  padding: 50px;
}

.col-2 {
  padding: 0px;
}

.col-8 {
  padding: 0px;
}
/* common */

/* Homepage */
.homepage-container {
  width: 85%;
  margin: 0 auto;
}
/* Homepage */

/* Navigation */
.nav-item {
  border-radius: 15px;
  background-color: $main_normal;
}
/* Navigation */

/* Worldwide */
.worldwide-card {
  width: 100%;
  background-color: $color_white;
  min-height: 180px;
  border-radius: 15px;
  padding: 20px 30px;
}
/* Worldwide */

/* Continent */
.continent-card {
  background-color: $color_white;
  min-height: 180px;
  border-radius: 15px;
}
/* Continent */